<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
    <script src="js/main.js"> </script>

    <title>All 4 Pets</title>
</head>
<body>
        <!-- Hero -->
        <section id="landing__area" class="container__center">
            <nav class="center__row">
                <h1 class="logo" > All 4 Pets </h1>
                <ul class="center__row">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#help">Services</a></li>
                    <li><a href="#whoweare">Who we are</a></li>
                    <li><a href="#contact">Contact us</a></li>
                    <li><a th:href="@{user/profile(id=${session.usuariosession.id})}">Profile</a></li>
                     <li><a th:href="@{/logout}">Logout</a></li>
                    <!-- darkmode -->
                    <!--

                        <div>
                            <input type="checkbox" class="checkbox" id="chk" />
                            <label class="label" for="chk">
                                <i class="fas fa-moon"></i>
                                <i class="fas fa-sun"></i>
                                <div class="ball"></div>
                            </label>
                        </div> 
                    -->
                    </ul>
            </nav>
            <div class="landing__content center__row">
                <div class="landing__info align__left">
                    <h1>
                        Pet shop <br>
                        Find everything you need for your pet
                    </h1>
                  <p>
                      Here in All4Pets you will find everything you've ever imagined for your pet,
                      we offer quality products to ensure the happines of your pets!.<br>Moreover,
                      We also have a list of lovely animals looking for their new family!<br>
                      Let one of this buddies find their forever home 💕<br>
                  </p>
                    <button><a href="/logout">Logout</a></button>
                </div>
                <div class="image__pet"></div>
            </div>
        </section>

        <!-- Services  -->
            <section id="help" class="container__center">
                <h1>Our services</h1>
                <div class="help__cards--container center__row">
                    <div class="help__card container__center">
                        <span class="card__title">Shop</span>
                        <h3>Add to your cart everything you need</h3>
                        <p>A wide variaty of accesories for your pets,<br> make him smile filling up his needs</p>

                        <div class="card__link container__center">
                            <a href="/shop">Compra Ahora</a>
                        </div>
                    </div>

                    <div class="help__card1 container__center1">
                        <span class="card__title">Adopt</span>
                        <h3>Expand your family</h3>
                        <p>There are abandon folks everywhere ,<br> change their reality and make them part of your family</p>
                        <div class="card__link container__center">
                            <a href="/adoptions">Adopt now!</a>
                        </div>
                    </div>   
            </div>
        </section>

        <!-- Who we are -->
        <div id="container">

            <section id="whoweare">
                <div class="image__pet2"> 

                    
                    <div class="quienessomos container">
                        <div class="quienessomos">
                            <h1>Who we are </h1>
                            <p>All4Pets as a company wants to provide <br>the best products and quality for your pets at home!<br>
                                Also, we want to encourage our beloved users to help stray animals<br>
                                by uploading them in our adopt section<br> and help them find their new home!.
                            </p>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        <!-- Contact -->
       
        <div id="contact">

            <div class="container-form">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <h2>Contact</h2>
                        <input type="text" class="field" placeholder="Full name">
                        <input type="text" class="field" placeholder="Email">
                        <input type="text" class="field" placeholder="Phone number">
                        <textarea placeholder="Message" class="field"></textarea>
                        <button class="btn">Send</button>
                    </div>
                </div>
            </div>
            
        </div>



        <footer>
            <div class="footer__cont center__row">
                <p>2022 &copyAll4Pets</p>
                <div>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>

       
</body>
</html>